<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href ="{{base_url}}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{base_url}}css/global.css">
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    <div id="all-content" class="container-fluid">
        <header id="header">{% block header %}{% endblock %}</header>
        <div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
        <footer id="footer" >{% block footer %}{% endblock %}</footer>
    </div>

    <footer id="jnp-footer" class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
    <script src="{{base_url}}js/jquery.min.js"></script>
    <script src="{{base_url}}js/popper.min.js"></script>
    <script src="{{base_url}}js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>